@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
.parent {
  width: 100%;
  height: 100vh;
  background-color: #2d4059;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.t1 {
  display: block;
  height: 30px;
  border: none;
  border-bottom: 5px solid #2d4059;
  color: #2d4059;
  width: 400px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  background-color: transparent;
}

.t1:focus {
  outline: 0;
}

.t2:focus {
  outline: 0;
}

.box {
  color: #2d4059;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 60%;
  background-color: #ffffff;
  padding: 40px 150px;
  border-radius: 20px;
}

.box1 {
  color: #2d4059;
  font-family: "montserrat", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  flex-direction: column;
  width: 70vw;
  background-color: #ffffff;
  padding: 50px 0 50px 80px;
  border-radius: 20px;
  display: none;
}

.que1 .q {
  margin-bottom: 20px;
}

.box1 .que1 {
  margin-bottom: 70px;
}

.btn {
  margin-top: 20px;
  font-weight: 700;
  padding: 8px 70px;
  border: 3px solid #2d4059;
  border-radius: 5px;
  font-family: "ubuntu", sans-serif;
  font-size: 0.8em;
  color: #2d4059;
}

.btn:hover {
  background-color: #2d4059;
  color: #fff;
}

.btn1 {
  margin-top: 10px;
  font-weight: 700;
  padding: 8px 70px;
  border: 3px solid #2d4059;
  border-radius: 5px;
  font-family: "ubuntu", sans-serif;
  font-size: 0.8em;
  color: #2d4059;
  width: 300px;
}

.btn1:hover {
  background-color: #2d4059;
  color: #fff;
}


.log1 {
  font-size: 2em;
}

.t2 {
  height: 30px;
  border: none;
  border-bottom: 5px solid #2d4059;
  color: #2d4059;
  width: 500px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  background-color: transparent;
}

.h3 {
  margin-bottom: 25px;
  text-decoration: underline;
  font-size: 1em;
  color: #ff5900;
}

.green {
  color: #3ecd0e;
}

/* =============== modal ====================== */

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  height: 300px;
  width: 400px;
  padding: 20px 30px;
  background-color: #fff;
  color: #2d4059;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

.close {
  font-family: "Montserrat", sans-serif;
  position: relative;
  left: 291px;
  top: -119px;
  font-size: 1.3em;
  font-weight: 700;
  color: #2d4059;
  cursor: pointer;
}

@media (max-width: 1068px) {
  .parent {
    height: 100vh;
  }
  .box1 {
    width: 90%;
    padding: 40px;
  }

  .box {
    font-size: 1.4em;
    padding: 50px;
  }

  .t1 {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .parent {
    height: 100vh;
    padding: 20px;
  }
  .box1 {
    width: 90%;
    padding: 20px;
    width: 100%;
    font-size: 1em;
  }

  .box {
    font-size: 1.3em;
    padding: 20px;
    width: 100%;
    height: 300px;
  }

  .t1 {
    width: 80%;
  }

  .box1 .que1 {
    margin-bottom: 40px;
  }
  .t1 {
    height: 20px;
    border-bottom: 3px solid #2d4059;
    width: 90%;
  }

  .t2 {
    height: 20px;
    border-bottom: 3px solid #2d4059;
    width: 90%;
  }

  .btn {
    margin-top: 0px;
  }
  .btn1 {
    width: 50%;
    text-align: center;
    padding: 8px 30px;
  }

  /* ========= modal ======== */
  .modal {
    width: 90%;
    height: 200px;
  }

  .close {
    left: 258px !important;
    top: -72px;
  }
}
