@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
.parent {
  width: 100vw;
  height: 100vh;
  background-color: #2d4059;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.t1 {
  display: block;
  height: 30px;
  border: none;
  border-bottom: 5px solid #2d4059;
  color: #2d4059;
  width: 400px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  background-color: transparent;
}

.t1:focus {
  border-color: none;
}

/* .box lable{
    margin-bottom: 5px;
} */

.box{
  color: #2d4059;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  width: 800px;
  background-color: #fefdca;
  padding: 40px 150px;
  border-radius: 20px;
}

.box1{
  color: #2d4059;
  font-family: "montserrat", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  flex-direction: column;
  height: 85vh;
  width: 70vw;
  background-color: #fefdca;
  padding: 50px 0 50px 80px;
  border-radius: 20px;
  display: none;
  overflow-y: scroll;
}

.que1 .q{
    margin-bottom: 20px;
}

.box1 .que1{
    /* text-align: left; */
    margin-bottom: 70px;
}

.btn {
  margin-top: 20px;
  font-weight: 700;
  padding: 8px 70px;
  border: 3px solid #2d4059;
  border-radius: 5px;
  font-family: "ubuntu", sans-serif;
  font-size: 0.8em;
  color: #2d4059;
}

.btn:hover{
    background-color: #2d4059;
    color: #fff;
}


.btn1{
    margin-top: 10px;
    font-weight: 700;
    padding: 8px 70px;
    border: 3px solid #2d4059;
    border-radius: 5px;
    font-family: "ubuntu", sans-serif;
    font-size: 0.8em;
    color: #2d4059;
    width: 300px;
  }
  
  .btn1:hover{
      background-color: #2d4059;
      color: #fff;
  }
/* .btn a {
  font-family: "ubuntu", sans-serif;
  text-decoration: none;
  font-size: 2em;
  color: #2d4059;
} */

.log1{
    font-size: 2em;
}


.t2{
    /* display: block; */
    height: 30px;
    border: none;
    border-bottom: 5px solid #2d4059;
    color: #2d4059;
    width: 500px;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    background-color: transparent;
  }